body {
  font-family: "helvetica Neue", Helvetica, Arial;
  font-size: 14px;
  color:#333;
  background-color: #e6e6e6;
}

/* Header Style */
header {
  background-color: #878787;
  padding: 30px;
  text-align: center;
  font-size: 45px;
  color: white;
  border-bottom: solid black 3px;
}

/* Section Style  */

.sectionContainer {
  background-color: #F3FAE1;
}

#infoSection {
  padding: 35px;
}

.secPosition {
  position: relative;
}

/* Button Style */
.btn-group-lg>.btn, .btn-lg {
  padding: none;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

/* Footer Style */
.panel-footer {
  color: white;
  background-color: #070f13;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

footer i {
  color: rgb(192, 185, 185);
}

footer i:hover {
  color: rgba(117, 115, 115, 0.959);
}
