header {
    background-color: #070f13;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }

.secPosition {
    position: relative;
}

.panel-footer {
    background-color: #070f13;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

  
